<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>About Me!</h1>
</body>
<section></section>
    <p>
        Hello!
        My name is Maya Vateva and I am currently a 21 year old server at blah blah blah.
        I was born in Sofia, Bulgaria, lived in Las Vegas for most of my life, and I am currently living in California. 
    </p>
</section>
</html>
