<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beauty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the Beauty Page</h1>
    <section>
            <label>Makeup</label>
            <label>Hair</label>
            <label>Body</label>
    </section>
    <a href="/newbeautypost">
        <button>Create New Post</button>
    </a>
    </section>
    <br>
    <section>
        <h2>New Posts!</h2>
        <br>
        {% for post in posts %}
        <div class="post">
            {{ post.id }} <br/>
            {{ post.date }} <br/>
            {{ post.title }} <br/>
            {{ post.content }} <br/>
        </div>
        <hr> <!-- Optional: Adds a horizontal line between posts -->
        {% endfor %}
    </section>
</body>
</html>