<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <header>
    <h1>Maya Vateva</h1>
  </header>
  <body>
    <div class="container">
        <a href="/personal">
            <button>Personal</button>
        </a>
        <a href="/home">
            <button>Home</button>
        </a>
        <a href="/skincare">
            <button>Skincare</button>
        </a>
        <a href="/beauty">
            <button>Beauty</button>
        </a>
        <a href="/wellness">
            <button>Wellness</button>
        </a>
      </div>
  </body> 
      <img src="{{ url_for('static', filename='images/forwebsite.jpg') }}" alt="My Image"
        width = "400"
        height = "500">
  </body>
  <h2>
    About Me!
  </h2>
      <section>
        <p>Hello! My name is Maya Vateva and I am currently a 21-year-old server at blah blah blah. I was born in Sofia, Bulgaria, lived in Las Vegas for most of my life, and I am currently living in California.</p>
    </section>
</html>
