<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Maya Vateva</h1>
    <section>
        <a href="/aboutme">
            <button>About Me</button>
        <a href = "/home">
            <button>Home</button>
        <a href = "/skincare">
            <button>Skincare</button>
        <a href = "/beauty">
            <button>Beauty</button>
        <a href = "/wellness">
            <button>Wellness</button>
    </section>
    <section>
      <img src="{{ url_for('static', filename='images/forwebsite.jpg') }}" alt="My Image">
    </section>
  </body>
</html>
